body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.bucket-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 75vw;
  
  
  
}

h3{
  
  
background: #ff0000; /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff0000, #9932cc); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ff0000, #9932cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
-webkit-background-clip: text;
background-clip: text;
color: transparent;

}
.head button {
  background-color: pink;
  border: none;
  width: 50px;
  border-radius: 10px;
}

.input,
.date {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;

}

.head {

  width: 600px;
  display: flex;
  justify-content: space-around;


}

.task {
  display: flex;
  height: 40px;
  width: 60vw;
  margin-top: 20px;
  margin-right: 20px;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(240, 255, 249, 0);
  backdrop-filter: blur(5px);
  box-shadow: 1px 1px 10px black;


}


.btn,
.btn-bottom {
  display: flex;
  justify-content: center;

}

.btn button,
.btn-bottom button {
  background-color: pink;
  border: none;
  height: 25px;
  width: 80px;
  border-radius: 7px;
  margin-left: 15px;
}

button:hover {
  border: 1px solid pink;
  transform: scale(1.1, 1.1);
  transition: 0.5s ease;
  box-shadow: 0 0 35px rgb(31, 202, 202);




}
.btn-bottom{
  margin-top: 200px;
}


.homepage{
  height: 100vh;
  width: 100vw;
  display: flex;

}

.left-box{
  height: 100vh;
  width: 25vw;
  background-color: #ff0000;
}

.theme div{
  background-color: green;
  height: 100px;
  width: 100px;
  margin-top: 10px;
  border-radius: 10px;
}

.theme div:hover{
  cursor: pointer;
}

.beach{
  background-image: url(./Assets/beach.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.mountain{
  background-image: url(./Assets/mountain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.sky{
  background-image: url(./Assets/sky.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.green{
  background-image: url(./Assets/green.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.eve{
  background-image: url(./Assets/eve.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.nature{
  background-image: url(./Assets/nature.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.theme{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}


